html {
  scroll-behavior: smooth;
}



body {
background: url(https://cdn.wallpapersafari.com/51/82/F08CWK.jpg);
background-repeat: no-repeat;
background-size: contain;
margin:0;
max-width: 100%;


  }
.page-wrapper {
  overflow: hidden;

}


  * {
    box-sizing: border-box;

  }


  #navbar {
    background-color:transparent;
    padding:3rem;
    padding-left:60rem;
    border-bottom: 0.3rem solid rgb(255,69,0);

    width:100%;
  position: fixed;






    }

    #navbar a {
  padding-left:1.3rem;
   text-decoration:none;
   font-family:bradley hand;
   font-weight:bold;
   color:white;
   font-size: 1.3rem;


   }


   h1, p {
color:white;
text-align:center;
font-size: 2rem;

     }

     .highlight {
     color:	rgb(255,69,0);
     font-family:bradley hand;
     font-style:italic;
     font-size: 3.3rem;
     -webkit-text-stroke:1px white;
       }

       .project-tile {
           background: url(https://img2.goodfon.com/wallpaper/nbig/3/9d/chasy-mehanizm-shesterenka-3749.jpg);
           background-repeat: no-repeat;
           background-size: cover;
           width:100%;
           height:100vh;
           margin-top: 150px;




                    }


           .project-title {
        text-align:center;
        color:white;

        border-bottom:0.2rem solid white;

       margin: 0px 130px 70px 130px ;

        }



        #image, #image-2, #image-3, #image-4 {

          float:right;

          margin:0 58px;
          border: 2px solid rgb(255,69,0);
          border-radius: 5px;
          width:200px;
          height:350px;

          }


    .caption {
    display: block;

}

.item {
    vertical-align: bottom;
    display: inline-block;
    text-align: center;
    font-size: 30px;


}

.item  a {
    text-decoration: none;


}

.About  {
  background: url(https://images8.alphacoders.com/559/thumb-1920-559128.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:78vh;

width:100%;
margin: 0;
height: 84vh;

       }

  .p {
  position:relative;
  top:50%;
  left:50%;
  color:white;
  margin:0;

}

h4 {

margin:0;
position:relative;
top:10rem;
text-align: center;
color: white;
font-size:1.4rem;
line-height: 2rem;
margin-left: auto;
margin-right: auto;
  }

  #title-about {
  margin:0;
  padding-top:2rem;
  font-size: 1.8rem;

    }


    .Contact {
         background: url(https://wallpaperaccess.com/full/796835.jpg);
         background-repeat: no-repeat;
         background-size: cover;
         height:78vh;


        }

        iframe {
      position: relative;

      top:5rem;
      left: 5rem;
      margin:0;


          }

          .fa-facebook {
            background: #3B5998;
            color: white;
            position:relative;
            left:60%;
            bottom: 260px;
          text-align: center;
            padding: 50px;
            border-radius: 10%;
            top:5rem;

          }

          .fa-twitter {

            background:	rgb(29 161 242);
            color: white;
            position:relative;
            left:63%;
            bottom: 260px;
          text-align: center;
            padding: 50px;
            border-radius: 10%;
            top:5rem;

  ;
            }

            .fa-instagram {

              background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
              color: white;
              position:relative;
              left:65%;
              bottom: 260px;
            text-align: center;
              padding: 50px;
              border-radius: 10%;
              top:5rem;

              }

          .social-icons {

           font-size: 50px;



          }

          @media screen and (max-width:1300px) {

            #navbar {
              background-color:transparent;
              padding:1rem;


  text-align: left;
  position: fixed;

                  }

              #navbar a {
                 display:block;
            padding-left:0.2rem;

             text-decoration:none;
             font-family:bradley hand;
             font-weight:bold;
             color:white;
             -webkit-text-stroke:0.8px blue;
             font-size:1.3rem


           }


           #image, #image-2, #image-3, #image-4 {



               margin:auto;
             border: 2px solid rgb(255,69,0);
             border-radius: 5px;
             width:130px;
             height:130px;




             }

             p{

             font-size: 1rem;

         }

         .project-title {
         text-align:center;
         color:white;

         border-bottom:0.2rem solid white;

         margin: 0px 130px 10px 130px ;

         }

         .item {
             vertical-align: bottom;
             display:inline-block;
             text-align: center;
             font-size: 30px;
             margin:1% 5% 1% 5%;


         }

         iframe {
         position: relative;

         top:5rem;
         left: 5rem;
         margin:0;
         width:9rem;


           }

           .social-icons {

            font-size: 30px;



           }

           .fa-facebook {
             position:relative;
             background: #3B5998;
             color: white;

            left:43%;
             bottom: 260px;
             text-align: center;
             padding: 20px;
             border-radius: 10%;
             top:5rem;

           }

           .fa-twitter {

             background:	rgb(29 161 242);
             color: white;
             position:relative;
               left:48%;
             bottom: 300px;
           text-align: center;
             padding: 20px;
             border-radius: 10%;
             top:5rem;


             }

             .fa-instagram {

               background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
               color: white;
               position:relative;
               left:53%;
               bottom: 260px;
             text-align: center;
               padding: 20px;
               border-radius: 10%;
               top:5rem;

               }


              }

